.panel,
.panel_layer {
  height: 970px;
  width: 100%;
  position: fixed;
}

.panel {
  position: relative;
  margin-bottom: 0px;
  border: 0.1px solid transparent;
  height: 970px;
  background: #0069cd;
}

.pixelated {
  image-rendering: optimizeSpeed; /* STOP SMOOTHING, GIVE ME SPEED  */
  image-rendering: -moz-crisp-edges; /* Firefox                        */
  image-rendering: -o-crisp-edges; /* Opera                          */
  image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
  image-rendering: pixelated; /* Chrome                         */
  image-rendering: optimize-contrast; /* CSS3 Proposed                  */
  -ms-interpolation-mode: nearest-neighbor; /* IE8+                           */
}

.parallax-transform {
  transform: translate3d(0px, 0px, 0px);
}

.parallax__layer {
  background-position: bottom center;
  background-size: auto 970px;
  background-repeat: repeat-x;
  width: 100%;
  position: absolute;
}
.parallax__layer.parallax {
  position: fixed;
}

#layer-1 {
  background-color: #000000;
  position: absolute;
}
#layer-2 {
  position: absolute;
}
#layer-3a {
  animation: slide 80s linear infinite;
  opacity: 0.2;
}
#layer-3b {
  animation: slide 80s linear infinite;
  opacity: 0.2;
}
#layer-4 {
  background-position: bottom center;
}
#layer-5 {
  background-position: bottom center;
}
#layer-6 {
  background-position: bottom center;
}
#layer-7 {
  background-position: bottom center;
}
#layer-8 {
  background-position: bottom center;
}
#layer-9 {
  background-position: bottom left;
  background-repeat: no-repeat;
}
#layer-10 {
  background-position: bottom right;
  background-repeat: no-repeat;
}

@keyframes slide {
  0% {
    background-position: 0px 0%;
  }
  100% {
    background-position: 1014px 0%;
  }
}
